   .story-one {
        width: 50%;
        min-width : 400px;
        float: left;
        align-content: center;
        display : inline-block;
    }
    .story-two {
        width: 50%;
        min-width : 400px;
        float: left;
        display : inline-block;
    }

    .Heading {
        font-size: xx-large;
        font-family: "Poppins";
        font-weight: 700;
        color:white;
        font-size: 60px;
        margin-top:25%;
        margin-left:15%;
        margin-right:8%;
        text-align: center;
    }

    .SmallText{
        font-size: 16px;
        margin-left:17%;
        font-weight: 400;
        font-family: "Poppins";
        margin-top:5%;
        margin-left:23%;
        margin-right:15%;
        text-align:left;
        color:white;
    }
    .Content {
        margin-top:130px;
    
    }