   .story-one {
        width: 50%;
        min-width : 400px;
        float: left;
        display : inline-block;
    }
    .story-two {
        width: 50%;
        min-width : 400px;
        float: left;
        display : inline-block;
    }

    .Heading {
        font-family: "Poppins";
        font-weight: bolder;
        color:white;
        font-size: 50px;
        margin-top:10vw;
        margin-left:11vw;
        margin-right:11vw;
        text-align: center;
    }

    .SmallText{
        font-size: 17px;
        margin-top:5%;
        margin-left:25%;
        font-family: "Poppins";
        margin-right:5%;
        color:white;
    }
    .Content {
        margin-top:130px;
    
    }